h1 {
  font-family:Georgia, san-serif;
  }
h2 {
  font-family:cursive;
 }
 h3 {
  font-family:fantasy;
 }
 p1{
  font-family:Georgia, sans-serif;
   font-size: 2em
  line-heigt: 1.25;
  padding: 1em;
  border-bottom: 0.1em dashed #000;
  margin: 1em;
}

 ul {
  font-family:serif;
}
ul {color: #A7344B;}
body{
  background-color: rbg(169, 223, 191);
}
/*Flexible Images*/
img{
max-width:100%;
Height:auto;
}
